@charset "UTF-8";
/* CSS Document */
body {
	font-family: Verdana, sans-serif;
	color: teal;
	background-color: ivory;

}

h1 {
    text-align: center;
    border: 8px solid coral;
    padding: 30px;
    margin: 60px;
}

h2 {
    text-align: center;
    border: 4px solid coral;
    padding: 15px;
    margin: 30px;
}